body{
    background-image: url(images/green.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:monospace;

}
.thanks{
    text-align: center;
    font-weight: bolder;
    margin-top: 20%;
    font-size: xx-large;
}