<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/viewcandidate.css')}}">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>ADMIN PAGE</title>
        </head>
        <body class="whole">
            <div class="nav justify-content-end">
            <a href="{{url_for('addcandidate')}}">ADD CANDIDATE</a>
            <a class="viewc" href="{{url_for('viewcandidate')}}">VIEW CANDIDATE</a>
            <a href="{{url_for('viewpublic')}}">VIEW PUBLIC</a>
            <a href="{{url_for('voting')}}">VOTING</a>
            <a href="{{url_for('logout')}}">LOG OUT</a>
        </div>
        <div class="tables table-responsive">
            <table class="table table-striped" >
                 <tr class="trow">
                    <th>S.NO</th>
                    <th>CANDIDATE NAME</th>                    
                    <th>PARTY NAME</th>
                    <th>DISTRICT</th>
                    <th>ELECTION TYPE</th>
                    <th>PARTY LOGO</th>
                    <th>CANDIDATE PHOTO</th>
                    <th>VOTER ID</th>
                    <th>REMOVE</th>
                </tr>
                {% for i in msg %}
            {%set id=i["id"]%}
    {%set candidatename=i["candidatename"]%}
    {%set partyname=i["partyname"] %}
    {%set city=i["cityname"] %}
    {%set electiontype=i["electiontype"] %}
    {%set partylogo=i["partylogo"] %}
    {%set candidatephoto=i["candidatephoto"] %}
            {%set aadharphoto=i["aadharphoto"]%}

      <tr>
          <td>{{id}}</td>
          <td>{{candidatename}}</td>
                       <td>{{partyname}}</td>
                       <td>{{city}}</td>
                       <td>{{electiontype}}</td>
                       <td><img src='{{ url_for("display_image", filename = partylogo) }}'width="100" height="100"></td>
                       <td><img src='{{ url_for("display_image", filename = candidatephoto)}}'width="100" height="100"></td>
                        <td><img src='{{ url_for("display_image", filename = aadharphoto)}}'width="100" height="100"></td>
          <td><a href="{{url_for('canrejected',idn=id)}}">reject</a></td>
                   </tr>

    {% endfor %}
            </table>         
        </div>
        </body>
        </html>